body {
    background-color: #1E2327;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 80px;
    border-radius: 0px 0px 12px 12px;
    background-color: #232A30;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.logotype {
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 5px;
    ;
    left: 5%;

}


.name {
    position: absolute;
    color: #FFF;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    left: 10%;
    top: -15px;
}

.mstyle {
    list-style: none;
    justify-content: space-between;
    justify-content: center;
    margin-right: 50px;
    display: flex;
    position: relative;
    top: 10px;

}

.navi {
    line-height: 5px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 25px;
    line-height: 10px;
    text-decoration: none;
    color: #FFF;
}

.search {
    width: 215px;
    height: 30px;
    padding: 2px;
    border-radius: 12px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
    background-color: #2C353D;
    color: #FFF;
    justify-content: center;
    border: none;
    outline: none;
    position: absolute;
    right: 18%;
    top: 22px;
}

.buttheme {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #2C353D;
    border: none;
    position: absolute;
    right: 10%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butbell {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #2C353D;
    border: none;
    position: absolute;
    right: 6%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.butlogin {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #2C353D;
    border: none;
    position: absolute;
    right: 2%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backfoto {
    width: 1262px;
    height: 550px;
    border-radius: 22px;
    position: fixed;
    z-index: 0;

}

.content {
    width: 1262px;
    height: 2700px;
    border-radius: 22px;
    background-color: #232A30;
    z-index: 1;
    position: relative;
    top: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.body {
    margin-top: 100px;
}

.information {
    display: grid;
    grid-template-columns: 360px 600px;
    margin-left: -220px;
    position: absolute;
    margin-top: 45px;
}

.gamefoto {
    height: 306px;
    width: 306px;
    border-radius: 22px;
    grid-row: 1 /span 2;
}

.title {
    color: white;
    font-size: 35px;
    font-family: 'Russo One', sans-serif;
    margin: 0;
}

.info {
    color: #979DA2;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.table {
    padding: 0;
    display: grid;
    grid-template-columns: 150px 250px;
    width: 400px;
    border: 0;
}

.infoa {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.info3 {
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    list-style: none;
    margin-bottom:10px ;
}
.description{
    width: 1180px;
    height: 200px;
    position: relative;
    top: 400px;
}
.descr{
    width: 1180px;
    height: 140px;
    background-color: #2C353D;
    border-radius: 22px;
    display:flex;
    justify-content: center;
}
.textchapter{
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
    color: #FFF;
}
.textcontent{
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
    color:white;
    text-align: center;
    
}
.similary{
    height: 400px;
    width: 1181px;
    position: relative;
    top: 290px;

}
.similarfoto{
    display: flex;
}
.simfoto {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.5s ease;
}

.simfoto:hover {
    transform: scale(1.1);
}
.textsim{
    font-size: 21px;
    font-family: 'Russo One', sans-serif;
    color: #FFF;
    position: absolute;
    margin-left: 10px;
    margin-top: 250px;
}
.revcell{
    display: flex;
    width: 1181px;
}
.Reviews{
    position:relative;
    top: 170px;
}
.commet{
    width: 363px;
    height: 346px;
    background-color: #2C353D;
    border-radius: 22px;
    display: grid;
    grid-template-rows: 60px 230px 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.backuser{
    background-color: #1E2327;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}
.user{
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 15px;
}
.rev{
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 17px;
    margin-left: 10px;
    text-indent: 10px;
}
.timepublucation{
    font-family: 'Source Sans 3', sans-serif;
    color:white;
    font-size: 20px;
    margin-left: 20px;
}
.Screenshots{
    position: relative;
    top: 50px;
}
.screenfoto{
    display: grid;
    grid-template-columns: 560px 288px 288px;
    gap: 15px;
}
.bigfoto {
    grid-row: 1 /span 2;
    transition: transform 0.5s ease;
}

.bigfoto:hover {
    transform: scale(1.02);
}

.smallfoto {
    transition: transform 0.5s ease;
}

.smallfoto:hover {
    transform: scale(1.05);

}
.systemrequirements{
    position: relative;
    top: -70px;
}
.sysbody{
    width: 1181px;
    height: 375px;
    background-color: #2C353D;
    border-radius: 22px;
    justify-content: center;
    display: flex;
    
}
.systable{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 50px 500px;
    gap: 25px;
}
.textsystem{
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 25px;
}
.footer {
    background-color: #111314;
    width: 100%;
    height: 200px;
    z-index: 2;
    position: relative;
    top: 190px;

}

.leftfoot {
    display: grid;
    width: 50%;
    height: 200px;
}

.foot {
    display: grid;
    grid-template-columns: 1000px 1fr;
}
.footlogo {
    height: 60px;
    width: 600px;
}

.foottext {
    width: 600px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
}

.ftext {
    white-space: nowrap;
    font-size: 22px;
    color: #d8d8d8;
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    height: 30px;
    margin-right: 15px;
}

.link {
    text-decoration: none;
}

.footsocial {
    height: 60px;
    width: 400px;
    margin-top: 20px;
    align-items: start;
}

.social {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.com {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    color: white;
    margin: 5px;
    text-align: left;
}

.term {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 20px;
    grid-column: span 2;
    text-align: left;
    margin: 0;
}

.terms {
    height: 60px;
    width: 400px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 40px, 40px;
    gap: 2px;
}

.adult {
    width: 40px;
    height: 40px;
}