body {
    background-color: #1E2327;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 80px;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    background: #262D34;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 5;

}

.Name {
    margin-left: 2%;

}

.principal1 {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.logo {
    width: 60px;
    height: 60px;
}

.nametext {
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 35px;
}

nav {
    margin-left: 5%;
}

.infotext {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 20px;
}

form {
    position: relative;

}

input {
    background-color: #2C353D;
    border-radius: 8px 0 0 8px;
    border: none;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 35px;
    outline: none;

}

.searchbutt {
    height: 35px;
    width: 40px;
    background-color: #1E2327;
    border-radius: 0 8px 8px 0;
    border: none;
    position: absolute;
}

.headerbutton {
    margin-left: 5%;

}

button {
    background-color: #2C353D;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
}

.backfoto {
    width: 1262px;
    height: 550px;
    border-radius: 22px;
    position: fixed;
    z-index: 0;

}

.content {
    width: 1262px;
    height: 2700px;
    border-radius: 22px;
    background-color: #232A30;
    z-index: 1;
    position: relative;
    top: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.body {
    margin-top: 100px;
}

.information {
    display: grid;
    grid-template-columns: 360px 600px;
    margin-left: -220px;
    position: absolute;
    margin-top: 45px;
}

.gamefoto {
    height: 306px;
    width: 306px;
    border-radius: 22px;
    grid-row: 1 /span 2;
}

.title {
    color: white;
    font-size: 35px;
    font-family: 'Russo One', sans-serif;
    margin: 0;
}

.info {
    color: #979DA2;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.table {
    padding: 0;
    display: grid;
    grid-template-columns: 150px 250px;
    width: 400px;
    border: 0;
}

.infoa {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.info3 {
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    list-style: none;
    margin-bottom:10px ;
}
.description{
    width: 1180px;
    height: 200px;
    position: relative;
    top: 400px;
}
.descr{
    width: 1180px;
    height: 140px;
    background-color: #2C353D;
    border-radius: 22px;
    display:flex;
    justify-content: center;
}
.textchapter{
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
    color: #FFF;
}
.textcontent{
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
    color:white;
    text-align: center;
    
}
.similary{
    height: 400px;
    width: 1181px;
    position: relative;
    top: 290px;

}
.similarfoto{
    display: flex;
}
.simfoto {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.5s ease;
}

.simfoto:hover {
    transform: scale(1.1);
}
.textsim{
    font-size: 21px;
    font-family: 'Russo One', sans-serif;
    color: #FFF;
    position: absolute;
    margin-left: 10px;
    margin-top: 250px;
}
.revcell{
    display: flex;
    width: 1181px;
}
.Reviews{
    position:relative;
    top: 170px;
}
.commet{
    width: 363px;
    height: 346px;
    background-color: #2C353D;
    border-radius: 22px;
    display: grid;
    grid-template-rows: 60px 230px 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.backuser{
    background-color: #1E2327;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}
.user{
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 15px;
}
.rev{
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 17px;
    margin-left: 10px;
    text-indent: 10px;
}
.timepublucation{
    font-family: 'Source Sans 3', sans-serif;
    color:white;
    font-size: 20px;
    margin-left: 20px;
}
.Screenshots{
    position: relative;
    top: 50px;
}
.screenfoto{
    display: grid;
    grid-template-columns: 560px 288px 288px;
    gap: 15px;
}
.bigfoto {
    grid-row: 1 /span 2;
    transition: transform 0.5s ease;
}

.bigfoto:hover {
    transform: scale(1.02);
}

.smallfoto {
    transition: transform 0.5s ease;
}

.smallfoto:hover {
    transform: scale(1.05);

}
.systemrequirements{
    position: relative;
    top: -70px;
}
.sysbody{
    width: 1181px;
    height: 375px;
    background-color: #2C353D;
    border-radius: 22px;
    justify-content: center;
    display: flex;
    
}
.systable{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 50px 500px;
    gap: 25px;
}
.textsystem{
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 25px;
}
footer{
    background-color: #111314;
    height: 200px;
    width: 100%;
    position: relative ;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 70px 100px;
    align-items: center;
    align-content: center;
    justify-content: space-around;

}
.footerlogo{
    display: flex;
    align-items: center;
}
.footerhelp{
    display: flex;
    flex-wrap: wrap;
}
.helptext{
    color: white;
    font-size: 18px;
    font-family: 'Source Sans 3', sans-serif;
    margin-left: 7px;
}
.prevention{
    display: flex;
}
.preventiontext{
    text-align: left;
    margin-left: 13px;
    color: white;
    font-family:'Source Sans 3', sans-serif ;
    font-size: 15px;
}