body {
    background-color: #1E2327;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 80px;
    border-radius: 0px 0px 12px 12px;
    background-color: #232A30;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.logotype {
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 5px;
    ;
    left: 5%;

}


.name {
    position: absolute;
    color: #FFF;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    left: 10%;
    top: -15px;
}

.mstyle {
    list-style: none;
    justify-content: space-between;
    justify-content: center;
    margin-right: 50px;
    display: flex;
    position: relative;
    top: 10px;

}

.navi {
    line-height: 5px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 25px;
    line-height: 10px;
    text-decoration: none;
    color: #FFF;
}

.search {
    width: 215px;
    height: 30px;
    padding: 2px;
    border-radius: 12px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
    background-color: #2C353D;
    color: #FFF;
    justify-content: center;
    border: none;
    outline: none;
    position: absolute;
    right: 18%;
    top: 22px;
}

.buttheme {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #2C353D;
    border: none;
    position: absolute;
    right: 10%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butbell {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #2C353D;
    border: none;
    position: absolute;
    right: 6%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.butlogin {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #2C353D;
    border: none;
    position: absolute;
    right: 2%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backfoto {
    width: 1262px;
    height: 550px;
    border-radius: 22px;
    position: fixed;
    z-index: 0;

}

.content {
    width: 1262px;
    height: 2000px;
    border-radius: 22px;
    background-color: #232A30;
    z-index: 1;
    position: relative;
    top: 350px;

}

.body {
    margin-top: 100px;
}

.information {
    display: grid;
    grid-template-columns: 360px 600px;
    margin-left: 50px;
    position: absolute;
    margin-top: 50px
}

.gamefoto {
    height: 306px;
    width: 306px;
    border-radius: 22px;
    grid-row: 1 /span 2;
}

.title {
    color: white;
    font-size: 35px;
    font-family: 'Russo One', sans-serif;
    margin: 0;
}

.info {
    color: #979DA2;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.table {
    padding: 0;
    display: grid;
    grid-template-columns: 150px 250px;
    width: 400px;
    border: 0;
}

.infoa {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
}

.info3 {
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    list-style: none;
}