body {
    background-color: #1E2327;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

header {
    height: 80px;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    background: #262D34;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 5;

}

.Name {
    margin-left: 2%;

}

.principal1 {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.logo {
    width: 60px;
    height: 60px;
}

.nametext {
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 35px;
}

nav {
    margin-left: 5%;
}

.infotext {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 20px;
}

form {
    position: relative;

}

input {
    background-color: #2C353D;
    border-radius: 8px 0 0 8px;
    border: none;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 35px;
    outline: none;

}

.searchbutt {
    height: 35px;
    width: 40px;
    background-color: #1E2327;
    border-radius: 0 8px 8px 0;
    border: none;
    position: absolute;
}

.headerbutton {
    margin-left: 5%;

}

button {
    background-color: #2C353D;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
}

.newbody {
    width: 1262px;
    height: 600px;
    background-color: #262D34;
    border-radius: 22px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0px 1px 10px black;
}

.newbodybig {
    display: flex;
    justify-content: center;
}

.newbodysmall {
    display: flex;
    justify-content: center;

}



.overtext {
    position: absolute;
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    text-align: left;
    top: 70%;
    left: 5%;
    width: 570px;
    z-index: initial;
}

.overtext2 {
    position: absolute;
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    text-align: left;
    top: 70%;
    left: 5%;
    width: 350px;
}

.overtext3 {
    position: absolute;
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    text-align: left;
    top: 70%;
    left: 8%;
    width: 350px;

}

.textfoto {
    position: relative;
    transition: transform 0.5s ease;

}

.textfoto:hover {
    transform: scale(1.02);
}

.sonic {
    border-radius: 22px;
    width: 600px;
    height: 330px;
    margin: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.sonictext {
    position: absolute;
}

.wake {
    border-radius: 22px;
    width: 600px;
    height: 330px;
    margin: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.redman {
    width: 390px;
    height: 221px;
    border-radius: 22px;
}

.susi {
    width: 390px;
    height: 221px;
    border-radius: 22px;
    margin-left: 28px;
    margin-right: 28px;

}

.car {
    width: 390px;
    height: 221px;
    border-radius: 22px;
}

.newsblock {
    width: 862px;
    display: flex;
    flex-direction: column;


}

.news1 {
    width: 860px;
    height: 200px;
    background-color: #262D34;
    border-radius: 22px;
    margin-bottom: 20px;
    display: flex;
    transition: transform 0.5s ease;
}

.news1:hover {
    transform: scale(1.02);
}

.news2 {
    width: 860px;
    height: 200px;
    background-color: #262D34;
    border-radius: 22px;
    margin-bottom: 20px;
    display: flex;
    transition: transform 0.5s ease;
}

.news2:hover {
    transform: scale(1.02);


}

.news3 {
    width: 860px;
    height: 200px;
    background-color: #262D34;
    border-radius: 22px;
    margin-bottom: 20px;
    display: flex;
    transition: transform 0.5s ease;
}

.news3:hover {
    transform: scale(1.02);


}

.news4 {
    width: 860px;
    height: 200px;
    background-color: #262D34;
    border-radius: 22px;
    margin-bottom: 20px;
    display: flex;
    transition: transform 0.5s ease;
}

.news4:hover {
    transform: scale(1.02);

}

.newsfoto {
    width: 200px;
    height: 180px;
    border-radius: 22px;
    background: #2C353D;
    margin-top: 10px;
    margin-left: 10px;
}

.mfire {
    width: 200px;
    height: 180px;
    border-radius: 22px;
}

.textnews {
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
    color: #d8d8d8;
    text-align: center;
    text-align: left;
    margin: 15px;
}

.box {
    width: 600px;
    height: 180px;
}

.typenews {
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
    color: #b9b6b6;
    text-align: center;
    text-align: left;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 7px;
}

.timenews {
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
    color: #b9b6b6;
    text-align: center;
    text-align: left;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lefttable {
    width: 380px;
    height: 860px;
    border-radius: 22px;
    background-color: #262D34;
    display: flex;
    flex-direction: column;

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}

.topgames {
    width: 360px;
    height: 70px;
    background-color: #2C353D;
    border-radius: 22px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
    color: #d8d8d8;
    align-items: center;
    text-decoration: none;
    transition: transform 0.5s ease;

}

.topgames:hover {
    transform: scale(1.02);
}

.gameweak {
    width: 360px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Source Sans 3', sans-serif;
    color: #d8d8d8;
    align-items: center;
}

footer{
    background-color: #111314;
    height: 200px;
    width: 100%;
    position: relative ;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 70px 100px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    position: absolute;
    bottom: -105    0px;

}
.footerlogo{
    display: flex;
    align-items: center;
}
.footerhelp{
    display: flex;
    flex-wrap: wrap;
}
.helptext{
    color: white;
    font-size: 18px;
    font-family: 'Source Sans 3', sans-serif;
    margin-left: 7px;
}
.prevention{
    display: flex;
}
.preventiontext{
    text-align: left;
    margin-left: 13px;
    color: white;
    font-family:'Source Sans 3', sans-serif ;
    font-size: 15px;
}