body {
    background-color: #1E2327;
    margin: 0;
    text-align: center;
    display: flex;
}

header {
    height: 80px;
    border-radius: 0px 0px 12px 12px;
    background-color: #232A30;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.logotype {
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 5px;
    ;
    left: 5%;

}

.name {
    position: absolute;
    color: #FFF;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    left: 10%;
    top: -15px;
}

.mstyle {
    list-style: none;
    justify-content: space-between;
    justify-content: center;
    margin-right: 50px;
    display: flex;
    position: relative;
    top: 10px;

}

.navi {
    line-height: 5px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 25px;
    line-height: 10px;
    text-decoration: none;
    color: #FFF;
}

.search {
    width: 215px;
    height: 30px;
    padding: 2px;
    border-radius: 12px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
    background-color: #2C353D;
    color: #FFF;
    justify-content: center;
    border: none;
    outline: none;
    position: absolute;
    right: 18%;
    top: 22px;
}

.buttheme {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #2C353D;
    border: none;
    position: absolute;
    right: 10%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butbell {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #2C353D;
    border: none;
    position: absolute;
    right: 6%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.butlogin {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #2C353D;
    border: none;
    position: absolute;
    right: 2%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newbody {
    width: 1262px;
    height: 600px;
    background-color: #262D34;
    border-radius: 22px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%)
}

.newbodybig {
    display: flex;
    justify-content: center;
}

.newbodysmall {
    display: flex;
    justify-content: center;

}
.textfoto{
    position: relative;
}
.overtext{
    position: absolute;
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    text-align: left;
    top: 70%;
    left: 5%;
    width: 570px;
}
.overtext2{
    position: absolute;
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    text-align: left;
    top: 70%;
    left: 5%;
    width: 350px;
}
.overtext3{
    position: absolute;
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    text-align: left;
    top: 70%;
    left: 8%;
    width: 350px;

}
.sonic {
    border-radius: 22px;
    width: 600px;
    height: 330px;
    margin: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.sonictext {
    position: absolute;
}

.wake {
    border-radius: 22px;
    width: 600px;
    height: 330px;
    margin: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.redman {
    width: 390px;
    height: 221px;
    border-radius: 22px;
}

.susi {
    width: 390px;
    height: 221px;
    border-radius: 22px;
    margin-left: 28px;
    margin-right: 28px;

}

.car {
    width: 390px;
    height: 221px;
    border-radius: 22px;

}

.newsblock {
    width: 862px;
    display: flex;
    flex-direction: column;


}

.news1 {
    width: 860px;
    height: 200px;
    background-color: #262D34;
    border-radius: 22px;
    margin-bottom: 20px;
    display: flex;
}

.news2 {
    width: 860px;
    height: 200px;
    background-color: #262D34;
    border-radius: 22px;
    margin-bottom: 20px;
    display: flex;


}

.news3 {
    width: 860px;
    height: 200px;
    background-color: #262D34;
    border-radius: 22px;
    margin-bottom: 20px;
    display: flex;


}

.news4 {
    width: 860px;
    height: 200px;
    background-color: #262D34;
    border-radius: 22px;
    margin-bottom: 20px;
    display: flex;

}

.newsfoto {
    width: 200px;
    height: 180px;
    border-radius: 22px;
    background: #2C353D;
    margin-top: 10px;
    margin-left: 10px;
}

.mfire {
    width: 200px;
    height: 180px;
    border-radius: 22px;
}

.textnews {
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
    color: #d8d8d8;
    text-align: center;
    text-align: left;
    margin: 15px;
}

.box {
    width: 600px;
    height: 180px;
}

.typenews {
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
    color: #b9b6b6;
    text-align: center;
    text-align: left;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 7px;
}

.timenews {
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
    color: #b9b6b6;
    text-align: center;
    text-align: left;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lefttable {
    width: 380px;
    height: 860px;
    border-radius: 22px;
    background-color: #262D34;
    display: flex;
    flex-direction: column;

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}

.topgames {
    width: 360px;
    height: 70px;
    background-color: #2C353D;
    border-radius: 22px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
    color: #d8d8d8;
    align-items: center;
    text-decoration: none;


}

.gameweak {
    width: 360px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Source Sans 3', sans-serif;
    color: #d8d8d8;
    align-items: center;
}

.footer {
    background-color: #111314;
    width: 100%;
    height: 200px;
    z-index: 2;
    position: relative;
    top: 1600px;

}

.leftfoot {
    display: grid;
    width: 50%;
    height: 200px;
}

.foot {
    display: grid;
    grid-template-columns: 1000px 1fr;
}

.logotype {}

.footlogo {
    height: 60px;
    width: 600px;
}

.foottext {
    width: 600px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
}

.ftext {
    white-space: nowrap;
    font-size: 22px;
    color: #d8d8d8;
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    height: 30px;
    margin-right: 15px;
}

.link {
    text-decoration: none;
}

.footsocial {
    height: 60px;
    width: 400px;
    margin-top: 20px;
    align-items: start;
}

.social {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.com {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    color: white;
    margin: 5px;
    text-align: left;
}

.term {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 20px;
    grid-column: span 2;
    text-align: left;
    margin: 0;
}

.terms {
    height: 60px;
    width: 400px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 40px, 40px;
    gap: 2px;
}

.adult {
    width: 40px;
    height: 40px;
}