body {
    background-color: #1E2327;
    margin: 0;
}

header {
    height: 80px;
    border-radius: 0px 0px 12px 12px;
    background-color: #262D34;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.logotype {
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 5px;;
    left: 2%;

}
.name{
    position: absolute;
    color: #FFF;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    left: 7%;
    top: -15px;
}
.menu{
    color: #fff;
    display: flex;
    justify-content: center;

}
.mstyle{
    list-style: none; /* Убирает маркеры*/
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    position: absolute;
    top: 15px;

}
.navi{
    line-height: 5px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 25px;
    line-height: 10px;
    text-decoration: none;
    color: #FFF;

}
.text{
    font-size: 122px;/* текст для прокрутки сайта, нужно удалить*/
}