body {
    background-color: #1E2327;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

header {
    height: 80px;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    background: #262D34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 5;

}

.Name {
    margin-left: 2%;

}

.principal1 {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.logo {
    width: 60px;
    height: 60px;
}

.nametext {
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 35px;
}

nav {
    margin-left: 5%;
}

.infotext {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 20px;
}

form {
    position: relative;

}

input {
    background-color: #2C353D;
    border-radius: 8px 0 0 8px;
    border: none;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 35px;
    outline: none;

}

.searchbutt {
    height: 35px;
    width: 40px;
    background-color: #1E2327;
    border-radius: 0 8px 8px 0;
    border: none;
    position: absolute;
}

.headerbutton {
    margin-left: 5%;
    display: flex;

}

.hbut {
    background-color: #2C353D;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
}

.hamburger {
    background-color: #2C353D;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
    display: none;
}

.burger {
    margin: 5px 0 0 -2px;
}

.backfoto {
    width: 90%;
    height: 500px;
    border-radius: 22px;
    position: fixed;
    z-index: -1;

}

.content {

    margin-top: 350px;
    width: 90%;
    height: auto;
    border-radius: 22px;
    background-color: #232A30;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.infogrid {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-template-rows: 30% auto;
    align-items: start;
    justify-items: start;

}

.gamefoto {

    width: 90%;
    border-radius: 22px;
    margin-left: 20px;
    margin-top: 20px;
    grid-row: 1 /span 2;
}

.title {
    color: white;
    font-size: 35px;
    font-family: 'Russo One', sans-serif;
}

li {
    list-style: none;
}

.infogame {
    color: #979DA2;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;

}

.informationaboutgame {
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;

}

.principalinfo {
    display: grid;
    grid-template-columns: 50% 80%;

}

h1 {
    font-family: 'Russo One', sans-serif;
    color: white;
    margin-left: 20px;
}

.description {
    background-color: #262D34;
    width: 90%;
    height: auto;
    border-radius: 22px;

}

.descrcontent {
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    text-align: center;

}



.similargame {
    display: flex;

}

.simgame1 {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    transition: transform 0.5s ease;
}

.simgame1:hover {
    transform: scale(1.1);
}
.simgame {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    transition: transform 0.5s ease;
}

.simgame:hover {
    transform: scale(1.1);
}
.simfoto {
    width: 100%;
    height: auto;
}

.textsim {
    font-size: 21px;
    font-family: 'Russo One', sans-serif;
    color: #FFF;
    position: absolute;
}

.revcell {
    display: flex;
}

.commet {

    background-color: #2C353D;
    border-radius: 22px;
    display: grid;
    grid-template-rows: 60px 200px 50px;
    margin-left: 1%;
    margin-right: 1%;
}
.commet1 {

    background-color: #2C353D;
    border-radius: 22px;
    display: grid;
    grid-template-rows: 60px 200px 50px;
    margin-left: 1%;
    margin-right: 1%;
}

.backuser {
    background-color: #1E2327;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.user {
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 15px;
}

.rev {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 17px;
    margin-left: 10px;
    text-indent: 10px;
    overflow: auto;
}

.rev::-webkit-scrollbar {
    width: 10px;
}

.rev::-webkit-scrollbar-thumb {
    background-color: #1E2327;
    border-radius: 6px;
}

.rev::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #232A30;
    border-radius: 3px
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.timepublucation {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.screenfoto {
    display: grid;
    grid-template-columns: 560px repeat(2, 1fr);
    gap: 15px;
}

.bigfoto {
    grid-row: 1 /span 2;
    transition: transform 0.5s ease;
}

.bigfoto:hover {
    transform: scale(1.02);
}

.smallfoto {
    transition: transform 0.5s ease;
}

.smallfoto:hover {
    transform: scale(1.05);

}

.smallfoto2 {
    transition: transform 0.5s ease;
}

.smallfoto2:hover {
    transform: scale(1.05);

}

.systemrequirements {
    position: relative;
    top: -70px;
}


.systable {
    background-color: #2C353D;
    width: 90%;
    border-radius: 22px;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50px 310px;
    gap: 25px;
    margin-bottom: 30px;
}

.textsystem {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: 24px;
}

footer {
    background-color: #111314;
    height: 200px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 70px 100px;
    align-items: center;
    align-content: center;
    justify-content: space-around;

}

.footerlogo {
    display: flex;
    align-items: center;
}

.footerhelp {
    display: flex;
    flex-wrap: wrap;
}

.helptext {
    color: white;
    font-size: 18px;
    font-family: 'Source Sans 3', sans-serif;
    margin-left: 7px;
}

.prevention {
    display: flex;
}

.preventiontext {
    text-align: left;
    margin-left: 13px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
}

.block {
    width: 500px;
    height: 500px;
    background-color: #111314;
    margin: 10px;
}

@media screen and (max-width: 1330px) {
    .smallfoto2 {
        display: none;

    }

    .screenfoto {
        grid-template-columns: 560px 288px;
    }

}

@media screen and (max-width: 1201px) {
    .textsystem{
        font-size: 22px;
    }
}

@media screen and (max-width: 1113px) {
    .hamburger {
        display: block;
    }

    form {
        margin-left: 80px;
    }

    .headerbutton {
        height: auto;
    }

    .info {
        display: none;
    }

}

@media screen and (max-width: 1024px) {
    .smallfoto2 {
        display: block;
        width: 328px;
        height: 268px;
    }

    .bigfoto {
        grid-row: none;
        height: 226px;
        width: 288px;
        display: none;

    }

    .smallfoto {
        width: 328px;
        height: 268px;
    }

    .screenfoto {
        grid-template-columns: repeat(2, 1fr);

    }
    .textsim{
        font-size: 20px;
    }
    h1{
        font-size: 30px ;
    }
}

@media screen and (max-width: 770px) {
    .smallfoto {
        display: none;
    }

    .smallfoto2 {
        display: none;
    }

    .bigfoto {
        display: block;
        height: auto;
        width: 90%;
    }

    .screenfoto {
        display: flex;
        justify-content: center;

    }

    form {
        display: none;
    }
    .title{
        font-size: 25px;
    }
    .infogame{
        font-size: 18px;
    }
    .informationaboutgame{
        font-size: 18px;
    }
    .infogrid{
        grid-template-columns: 35% 65%;
    }
    .principalinfo{
        grid-template-columns: 40% 80%;
    }
    .textsim{
        font-size: 15px
    }
    h1{
        font-size: 25px;
    }
    .textsystem{
        font-size: 20px;
    }
    .backfoto{
        height: 400px;
    }
    .content{
        margin-top: 250px ;
    }
}

@media screen and (max-width: 611px) {
    .prevention {
        display: none;
    }

    .footerhelp {
        grid-column: 1 /span 2;
        justify-content: center;

    }

    footer {
        grid-template-columns: 220px 260px;
    }
}

@media screen and (max-width: 520px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 60px)
    }

    .footerhelp {
        grid-column: auto;
    }

}


@media screen and (max-width: 481px) {

    .hbut {
        display: none;
    }

}
@media screen and (max-width: 426px) {
    .backfoto{
        display: none;
    }
    .content{
        margin-top: 100px;
    }
    .infogrid{
        grid-template-columns: none;
        justify-items: center;
    }
    .gamefoto{
        margin: 17px;
        margin-bottom: 0px;
    }
    .principalinfo{
        grid-template-columns: 40% 60%;
    }
    .simgame    {
        display: none;
    }
    .textsim{
        font-size: 20px;
    }
    .commet{
        display: none;
    }
    .textsystem{
        font-size: 17px;
    }
    .systable{
        gap:10px;
        grid-template-rows: 40px 330px;
    }
}